<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<form action="/user" method="POST">
    <div>ID :<label> <input type="text" name="id"> </label> </div>
    <div>PWD : <label><input type="text" name="pwd"> </label> </div>
    <div>NAME : <label> <input type="text" name="name"> </label> </div>
    <div>GENDER : <label><input type="radio" name="gender" value="M">남자</label>
                  <label><input type="radio" name="gender" value="F">여자</label>
    </div>
    <button type="submit">가입</button>
</form>
</body>
</html>